<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
  </head>
  <body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" 
    height="200px"
    width="200px"
    alt="Magalu em frente a loja da Magazine Luiza" />
    <br>
    <a href="/about">Acessar Sobre</a>
    <h1>Produtos</h1>
    <p>Paragrafo</p>
    <p>
      Meu nome é: <strong>Cesar</strong>
      <br>
      Idade: <strong>34</strong>
      <br>
      Estado civil: <strong>Casado</strong>
    </p>
    <h3>Qualidades</h3>
    <ul>
      <li>Ex jogador de League of Legends</li>
      <li>Sabe fazer um bolinho de arroz como ninguém</li>
      <li>Cozinheiro nas horas vagas</li>
    </ul> 
    <ol>
      <li>Sabe fazer massagens</li>
      <li>Editor de vídeo nas horas vagas</li>
      <li>Tio do pavê com piadas fenomenais</li>
    </ol>
  </body>
</html>
